APP_ENV=development
APP_DEBUG=true

DB_HOST=mysql
DB_PORT=3306
DB_NAME=phalcon_db
DB_USER=phalcon_user
DB_PASSWORD=phalcon_password

NGINX_PORT=8181

# Odoo Configuration
ODOO_PORT=8069
ODOO_DB_PASSWORD=yaro20070720
ODOO_MASTER_PASSWORD=mvppt-r9sc-yewj

# Odoo API Credentials (setelah setup database)
ODOO_URL=http://odoo:8069
ODOO_DB=odoo
ODOO_USERNAME=yaroega@gmail.com
ODOO_PASSWORD=yaro20070720
